<div id="<%= dom_id employee %>">
  <p>
    <strong>Ctps:</strong>
    <%= employee.ctps %>
  </p>

  <p>
    <strong>Salary base:</strong>
    <%= employee.salary_base %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= employee.hours %>
  </p>

</div>
