  header {
    background: linear-gradient(to bottom, white, lightgray);
  }
  p {
    margin-bottom: 4px !important;
  }
  

  .no-decoration {
    text-decoration: none !important;
    color: black;
  }


  .invisible {
    display: none;
  }

  .visible {
    background: linear-gradient(to bottom, white, lightgray);
  }
  .common-item {
    position: relative;
    z-index: 1;
  }

  #tooltip {
    position: absolute;
    z-index: 2;
  }

  


