  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }

  #tooltip {
    position: absolute;
    background-color: #ccc;
    padding: 10px;
    z-index: 999;
    width: auto;
    max-width: 200px; /* Defina um valor máximo para evitar que a largura fique muito grande */
  }

  /* Adicionando estilos para criar duas colunas */
  #tooltip ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que os itens quebrem para a próxima linha */
  }

  #tooltip li {
    flex: 1; /* Cada item ocupa uma parte igual do espaço disponível */
    width: 50%; /* Duas colunas */
    box-sizing: border-box; /* Inclui a borda e o preenchimento no cálculo da largura */
    text-align: center; /* Centralizar o texto */
  }

  #tooltip li a {
    text-decoration: none; /* Remover decoração de link */
    color: inherit; /* Herdar a cor do texto do elemento pai */
    display: block; /* Tornar o link em bloco para ocupar toda a largura do item da lista */
    padding: 5px; /* Adicionar algum preenchimento para melhorar a aparência */
  }